


.paragrafo{
  color: #4235;
  font-size: 34px;
}


.img{
  width: 900px;
  height: 600px;
  background-image: url(https://st.depositphotos.com/2361751/2905/i/450/depositphotos_29056417-stock-photo-starry-sky.jpg);
  background-position: center;
  background-size: cover;
}

.div1{
  background-color: red;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.div2{
  background-color: green;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.div3{
  background-color: yellow;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.div1,.div2,.div3{
  display: inline-block;
  display: none;

}